<section class="slide slide--{{ slide.name }}{% if slide.active %} slide--active{% endif %}">
    <div class="slide__background slide__background--{{ slide.name }}"></div>

    <div class="slide__wrapper">
        {% block slide %}
            <h2 class="slide__title">
                {% block title %}{% endblock %}
            </h2>

            <div class="slide__content">
                {% block content %}{% endblock %}
            </div>
        {% endblock %}
    </div>

    <div class="notes">
        {% block notes %}{% endblock %}
    </div>
</section>
