/* This talk is about JavaScript don't look at this ugly file! */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
darticle, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Custom CSS */
:root {
    --colorRed: #8f372f;
    --colorBlack: black;
    --colorWhite: white;
    --textShadowWhiteColor: rgba(255, 255, 255, 0.1);
    --textShadowBlackColor: rgba(0, 0, 0, 0.1);
    --textShadowWidth: 1px;
    --textShadowWidth2: -1px;
    --textShadowWhite:
            var(--textShadowWidth) var(--textShadowWidth) var(--textShadowWhiteColor),
            var(--textShadowWidth2) var(--textShadowWidth2) var(--textShadowWhiteColor),
            var(--textShadowWidth) var(--textShadowWidth2) var(--textShadowWhiteColor),
            var(--textShadowWidth2) var(--textShadowWidth) var(--textShadowWhiteColor);
    --textShadowBlack:
            var(--textShadowWidth) var(--textShadowWidth) var(--textShadowBlackColor),
            var(--textShadowWidth2) var(--textShadowWidth2) var(--textShadowBlackColor),
            var(--textShadowWidth) var(--textShadowWidth2) var(--textShadowBlackColor),
            var(--textShadowWidth2) var(--textShadowWidth) var(--textShadowBlackColor);
}

/* Slides */
.slides {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slide {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.slide__background {
    position: fixed;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--colorBlack);
    background-size: cover;
    background-position: center center;
}

.slide__wrapper {
    position: relative;
    z-index: 10;
}

.slide--active {
    display: flex;
}

/* Content */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
    font-size: 2vw;
    background: var(--colorBlack);
    color: var(--colorWhite);
}

.sf-toolbar {
    /* Just a evil display none on the debug bar for presentation. */
    display: none !important;
}

input {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    text-align: center;
}

h1 {
    font-size: 3.5vw;
    margin: 5vh;
}

h2 {
    font-size: 3vw;
    margin: 5vh;
}

input {
    font-size: 2vw;
}

img {
    display: block;
    color: #666;
}

pre {
    margin: 3vh;
    font-size: 1.7vw;
    line-height: 1.2em;
    max-height: 50vw;
    overflow: auto;
}

.notes {
    display: none;
}

/* Start */
.slide--start {
    color: var(--colorBlack);
    text-shadow: var(--textShadowWhite);
}

.slide__background--start {
    /* Source: https://unsplash.com/photos/4pPzKfd6BEg */
    background-image: url("/images/start.jpg");
}

/* Me */
.slide--me {
    color: white;
    text-shadow: var(--textShadowWhite);
}

.slide__background--me {
    /* Source: https://unsplash.com/photos/VGOiY1gZZYg */
    background-image: url("/images/me.jpg");
}

.field {
    display: flex;
    margin: 2vh;
    align-items: center;
    justify-content: center;
    text-shadow: var(--textShadowBlack);
}

.field__label {
    display: block;
    width: 32%;
}

.field__input {
    display: block;
    width: 68%;
    border-radius: 0.25vw;
    border: none;
    text-align: center;
    text-transform: uppercase;
}

/* Me */
.me-logo {
    display: flex;
    justify-content: center;
}

.me-logo__item {
    height: 10vh;
    margin: 2vh 2vw;
}

/* Tools */
.slide--tools {
    text-shadow: var(--textShadowBlack);
}

.slide__background--tools {
    /* Source: https://unsplash.com/photos/IClZBVw5W5A */
    background-image: url("/images/tools.jpg");
}

.tool {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tool__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8vw;
    height: 8vh;
    padding: 2vh 2vw;
    border-radius: 2vh;
    background: white;
    margin: 2vh 2vw;
}

.tool__image {
    max-width: 100%;
    max-height: 100%;
}

/* Once */
.slide--once-building,
.slide--once-namespacing,
.slide--once-versioning,
.slide--once-dom {
    text-shadow: var(--textShadowBlack);
}

.slide__background--once-building,
.slide__background--once-namespacing,
.slide__background--once-versioning,
.slide__background--once-dom {
    /* Source: https://unsplash.com/photos/tbggXpQgr0Q */
    background-image: url("/images/once.jpg");
}

/* Today */
.slide--today-building,
.slide--today-namespacing,
.slide--today-versioning,
.slide--today-dom,
.slide--twig {
    color: var(--colorBlack);
    text-shadow: var(--textShadowWhite);
}

.slide__background--today-building,
.slide__background--today-namespacing,
.slide__background--today-versioning,
.slide__background--today-dom,
.slide__background--twig {
    /* Source: https://unsplash.com/photos/z_dgFPmIUko */
    background-image: url("/images/modern.jpg");
    color: var(--colorBlack);
    text-shadow: var(--textShadowWhite);
}

/* Namespacing */
.namespacing-logo {
    display: flex;
    justify-content: center;
}

.namespacing-logo__item {
    height: 10vh;
    margin: 2vh 2vw;
}

/* Twig */
.comparison {
    display: flex;
}

.comparison__item {
}

/* HTTP 2 */
.slide--http2 {
    color: black;
    text-shadow: var(--textShadowWhite);
}

.slide__background--http2 {
    /* Source: https://unsplash.com/photos/T0Pen8UyM5I */
    background-image: url("/images/http2.jpg");
}

/* End */
.slide--end {
    text-align: center;
    color: white;
    text-shadow: var(--textShadowWhite);
    line-height: 4.5vh;
}

.slide__background--end {
    /* Source: https://unsplash.com/photos/UErWoQEoMrc */
    background-image: url("/images/end.jpg");
}
