{% extends 'presentation/slide.html.twig' %}

{% block slide -%}
    <h1>
        Why your backend should care about JavaScript
        <br>&nbsp;
        <br>&nbsp;
        <br>&nbsp;
    </h1>
{%- endblock %}

{% block notes %}
    Welcome,

    Talk about nowadays JavaScript and Websites
    which HTML is returned by the server.
{% endblock %}
