{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Once Upon a Time ...
{%- endblock %}

{% block content %}
    <h3>Building JavaScript</h3>

    <pre id="{{ register_component('code') }}" class="php">
        {{- '<script type="text/javascript"
             src="/min/b=folder&amp;f=prototype.js,main.js,slider.js">
</script>'|e -}}
    </pre>
{% endblock %}

{% block notes %}
    Building JavaScript.

    or where your backend should not care about JavaScript.
{% endblock %}
