{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Building JavaScript
{%- endblock %}

{% block content %}
    <h3>Browserify / Webpack</h3>

    <div class="namespacing-logo">
        <img class="namespacing-logo__item"
             src="{{ asset('images/tools/browserify.svg') }}"
             alt="Browserify">

        <img class="namespacing-logo__item"
             src="{{ asset('images/tools/webpack.svg') }}"
             alt="Webpack">
    </div>
{% endblock %}

{% block notes %}
    Use modern build tools like browserify or webpack.
{% endblock %}
