{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Once Upon a Time ...
{%- endblock %}

{% block content %}
    <h3>Namespacing and Building Javascript</h3>

    <pre id="{{ register_component('code') }}" class="js">
        {{- ';'|e }}<br><br>
        {{- 'var Module = Module || {};'|e }}<br/>
        {{- 'var Module.Component = ...;'|e -}}
    </pre>
{% endblock %}
