{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Once Upon a Time ...
{%- endblock %}

{% block content %}
    <h3>Versioning</h3>

    <pre id="{{ register_component('code') }}" class="php">
        {{- '<script src="main.js?v=1.23"></script>'|e }}<br>
        {{- '<script src="main.js?v=<?php echo time(); ?>"></script>'|e -}}
    </pre>
{% endblock %}

{% block notes %}
    Versioning how the expire the client cache.
    But you should not disable the client cache!
    Manually updating is mostly forgot.
    Reviewers dont see it and the client is annoyed.
{% endblock %}
