{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Going crazy with http2
{%- endblock %}

{% block content %}
    <h3>Splitting JS Part 2</h3>

    <pre id="{{ register_component('code') }}" class="js">
        {{- 'var lazy = require(\'massive-web/src/lazy\');
var slides = require(\'bundle-loader?lazy&name=components/slides!./components/slides.js\');
var code = require(\'bundle-loader?lazy&name=components/code!./components/code.js\');

lazy.registerComponent(\'slides\', slides);
lazy.registerComponent(\'code\', code);'|e -}}
    </pre>
{% endblock %}
