{% extends 'presentation/slide.html.twig' %}

{% block title -%}
    Why your backend should care about JavaScript?
{%- endblock %}

{% block content %}
    <ul>
        <li>
            Automatic versioning
        </li>

        <li>
            Less memory usage
        </li>

        <li>
            Faster website
        </li>
    </ul>

    <br>
    <br>
    <br>
    <br>
    <br>
    <h4>Source:</h4>

    <ul>
        <li>
            <a href="https://github.com/massiveart/web-twig">https://github.com/massiveart/web-twig</a>
        </li>

        <li>
            <a href="https://github.com/massiveart/web-js">https://github.com/massiveart/web-js</a>
        </li>

        <li>
            <a href="https://github.com/alexander-schranz/webdev-backend-javascript">https://github.com/alexander-schranz/webdev-backend-javascript</a>
        </li>
    </ul>
{% endblock %}

{% block notes %}
    Automatic versioning
        by increasing version in build and read from package.json

    Less memory usage
        avoid unnecessary dom request
        avoid unnecessary component initialization

    Faster website
        load only needed components
        http2 push
{% endblock %}
